<!DOCTYPE html>
<html lang="en" ng-app="RconApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Websocket Rcon</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.2/nv.d3.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.css" rel="stylesheet">
    <link href="rcon.css" rel="stylesheet">
  </head>
  <body ng-controller="RconController">

    <nav class="navbar navbar-default" ng-controller="ServerInfoController" ng-show="Connected">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-header" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">{{info.Hostname}}</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-header">
          <ul class="nav navbar-nav">
            <li>
              <p class="navbar-text" title="Uptime">
                <span class="glyphicon glyphicon-time"></span>
                {{info.Uptime|SecondsToDuration}}
              </p>
            </li>
            <li>
              <p class="navbar-text" title="Map Name">
                <span class="glyphicon glyphicon-globe"></span>
                {{info.Map}}
              </p>
            </li>
            <li>
              <p class="navbar-text" title="Current Players/Maximum Players">
                <span class="glyphicon glyphicon-user"></span>
                {{info.Players|number}}/{{info.MaxPlayers|number}}
              </p>
            </li>
            <li>
              <p class="navbar-text" title="Framerate">
                <span class="glyphicon glyphicon-hourglass"></span>
                {{info.Framerate|number}}fps
              </p>
            </li>
            <li>
              <p class="navbar-text" title="Entity Count">
                <span class="glyphicon glyphicon-oil"></span>
                {{info.EntityCount|number}}
              </p>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <button class="btn btn-danger navbar-btn" type="button" ng-click="Disconnect()">Disconnect</button>
            </li>
          </ul>

        </div>
      </div>
    </nav>

    <div class="container">

      <div ng-include="'html/connect.html'" ng-show="!Connected"></div>

      <div ng-show="Connected" class="col-sm-2 sidebar">

        <ul class="nav nav-sidebar">
          <li ng-repeat="page in pages" ng-class="{'active' : $route.current.Title == page.Title }">
            <a href="#{{Nav( page.originalPath )}}">{{page.Title}}</a>
          </li>
        </ul>

      </div>

      <div class="col-sm-10" ng-show="Connected">

        <h1 class="page-header">{{$route.current.Title}}</h1>
        <div class="row" ng-view></div>

      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>

    <!-- For charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.2/nv.d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.5/angular-nvd3.min.js"></script>

    <!-- Data manipulation -->
    <script src="js/linq.min.js"></script>

    <!-- Our stuff -->
    <script src="js/rconService.js"></script>
    <script src="js/app.js"></script>
    <script src="js/connection.js"></script>
    <script src="js/serverInfo.js"></script>
    <script src="js/console.js"></script>
    <script src="js/playerlist.js"></script>
    <script src="js/playerInfo.js"></script>
    <script src="js/chat.js"></script>

  </body>
</html>
