H3
{
	
}

.AppBackground
{
	background-color: #ccc;
}

.DropShadow
{
	box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
}

#ConsoleController md-input-container .md-errors-spacer 
{
    min-height: 0;
}

#ConsoleController md-input-container
{
	margin: 0;
}

#ConsoleController .Output
{

	font-size: 16px;
	white-space: pre-wrap;
	padding: 8px;
}

#ConsoleController .Output .Requested
{
	color: #2196F3;
}

#ConsoleController .Output .Chat
{
	color: #4CAF50;
}

#ConsoleController .Input input
{
	color: #000;
}