H3
{
	
}

.AppBackground
{
	background-color: #ccc;
}

.DropShadow
{
	box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
}

#ConsoleController md-input-container .md-errors-spacer 
{
    min-height: 0;
}

#ConsoleController md-input-container
{
	margin: 0;
}

#ConsoleController .Output
{

	font-size: 16px;
	white-space: pre-wrap;
	padding: 8px;
}

#ConsoleController .Output div 
{
	padding: 2px 4px;
	color: #888;
}

#ConsoleController .Output .Command
{
	color: #009688;
    background-color: rgba(137, 255, 0, 0.44);
}

#ConsoleController .Output .Warning
{
	color: #c79621;
	background-color: rgba(255, 128, 0, 0.1);
}

#ConsoleController .Output .Assert, #ConsoleController .Output .Error
{
	color: #b42626;
	background-color: rgba(255,0,0,.1);
}

#ConsoleController .Input input
{
	color: #000;
}

a 
{
	color: #FF4081;
	text-decoration: none;
}

.menu
{
	background-color: #1976D2;
}

.menu_button
{
	display: block;
    padding: 0 16px 0 32px;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-weight: 500;
	border-radius: 0;
    color: white;
    cursor: pointer;
    display: block;
    align-items: inherit;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

.menu_button.selected
{
	background: #90A4AE;
}