@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body
{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: #cfd2da;
  background-color: #252830;
}

a
{
	color: #1ca8dd;
}

a:hover
{
	color: #fff;
	text-decoration: none;
}

.right 
{
	text-align: right;
}

.center
{
	text-align: center;
}


.float-left { float: left; }

#ConsoleController .Output
{
	font-family: monospace;
    font-size: 12px;
	white-space: pre-wrap;
}

.scrollable 
{
	overflow: auto;
}


.nav-sidebar 
{
	margin-top: 64px;
  margin-right: 16px;
}

.nav-sidebar > li > a 
{
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus 
{
  color: #fff;
  background-color: #428bca;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

.fade 
{
	opacity: 0.5;
}

th, td 
{
		padding: 5px 8px;
		border-bottom: 1px solid #414758;
}

th.active 
{
	color: #1bc98e;
	border-color: #1bc98e;
}

th 
{
	border-bottom: 2px solid #414758;
	border-radius: 10px;
}

th:first-child 
{
    border-radius: 6px;
}

th:last-child 
{
    border-radius: 0 6px 0 0;
}

th:only-child
{
    border-radius: 6px 6px 0 0;
}



.btn-default, .btn-default:active, .form-control
{
	background: rgba( 255, 255, 255, 0.3 );
	border: none;
	color: #cfd2da;
	text-shadow: none;
}

.btn-default:hover 
{
	background: #1ca8dd;
	color: #fff;
}

.panel 
{
	background-color: #434857;
}

.chatname
{
	display: block;
	width: 200px;
	float: left;
	text-align: right;
	padding-right: 8px;
}