<div ng-controller="ChatController" id="ChatController">

    <div style="height: 600px" class="Output scrollable">
    	<div ng-repeat="line in Output" ng-class="line.Class">
    		<span class="badge">
    			{{(line.Time * 1000) | date:'shortTime'}}
    			<a href="#/{{address}}/player/{{line.UserId}}/" style="color: {{line.Color}}">
    				{{line.Username}}
    			</a>
    		</span> {{line.Message}}
    	</div>
    </div>

	<form ng-submit="SubmitCommand()" class="md-inline-form">
			<div>
				<input class="form-control" ng-model="Command" style="width: 100%">
			</div>
	</form>

</div>