<md-content ng-controller="ConnectionController" layout="column" layout-align="center center" flex>

<md-card class="md-block">

	<md-toolbar class="demo-toolbar md-primary">
		<div class="md-toolbar-tools">
			<h3 class="ng-binding">Connect</h3>
		</div>
	</md-toolbar>

	<div layout-padding layout-gt-xs="column">
	
		<div layout-padding>Enter the address (including rcon port) and the rcon password below to connect.</div>

		<div ng-repeat="c in PreviousConnects">
			<md-button ng-click="ConnectTo( c )">{{c.Address}}</md-button>
		</div>
		
		<div>{{LastErrorMessage}}</div>
		
		<form ng-submit="Connect()">
		<div class="md-inline-form">
		

			<md-input-container class="md-block" flex-gt-xs>
				<label>Address</label>
				<input required minlength=5 ng-model="Address" name="Address">
			</md-input-container>
		  
			<md-input-container class="md-block" flex-gt-xs>
			<label>Password</label>
			<input required minlength=2 type="password" ng-model="Password" name="Password">
		  </md-input-container>
		  
			<section layout="row" layout-align="end end" layout-wrap>
				<md-checkbox md-no-ink aria-label="Save Connection" ng-model="SaveConnection" class="md-primary">
            Save Connection
          </section>
		
<br/>		<br/>		
		  
		<section layout="row" layout-align="end end" layout-wrap>
		  <md-button class="md-raised md-primary" ng-click="Connect()">Connect</md-button>
		</section>
		
		</div>
		

		</form>
		
	</div>
	

	
</md-card>
</md-content>