
<div ng-controller="ConsoleController" flex layout="column" id="ConsoleController">

    <md-content flex id="vertical-container" class="Output"><div ng-repeat="line in Output" ng-class="line.Class">{{line.Message}}</div></md-content>

<form ng-submit="SubmitCommand()" class="md-inline-form">
 <md-toolbar class="Input">
      <div class="md-toolbar-tools">
	  
		<span flex>
			<input ng-model="Command" style="width: 100%">
		</span>
		
		<md-button class="md-icon-button" aria-label="Settings" ng-click="SubmitCommand()">
			<md-icon md-menu-origin md-svg-icon="/image/arrow-right-bold-hexagon-outline.svg"></md-icon>
        </md-button>

      </div>
    </md-toolbar>
		</form>

</div>