<div ng-controller="PlayerListController" flex layout="column" id="PlayerListController">
<md-content flex id="vertical-container">
	<md-list>
			<md-list-item class="" ng-repeat="line in Players | filter : FilterText" href="#/player/{{line.SteamID}}/">
				<div flex layout="row">
					<div flex class="md-list-item-text">
						<h3><a href="#/player/{{line.SteamID}}/">{{line.DisplayName}}</a></h3>
					</div>
				</div>

				<div flex="20"style="text-align: right">
					{{line.SteamID}}	 <span>{{line.OwnerSteamID}}</span>		
				</div>
				
				<div flex="5"style="text-align: right">
					{{line.VoiationLevel}}			
				</div>
								
				<div flex="10"style="text-align: right">
					Level: {{line.CurrentLevel}}			
				</div>
				
				<div flex="10"style="text-align: right">
					XP: <a href="#/player/{{line.SteamID}}/xp">{{line.UnspentXp}}</a>
				</div>
				
				<div flex="20"style="text-align: right">
					{{line.Address}}		
				</div>

				<div flex="10" class="md-list-item-text" style="text-align: right">Ping {{line.Ping}}</div>
				
				<div flex="10" style="text-align: right">
					{{line.ConnectedSeconds | SecondsToDuration}}
				</div>
				
				<md-divider></md-divider>			
			</md-list-item>
	</md-list>
</md-content>

 <md-toolbar class="Input">
      <div class="md-toolbar-tools">
	  
		<span flex>
			<input ng-model="FilterText" style="width: 100%">
		</span>
		
		<md-button class="md-icon-button" aria-label="Settings" ng-click="SubmitCommand()">
			<md-icon md-menu-origin md-svg-icon="image/arrow-right-bold-hexagon-outline.svg"></md-icon>
        </md-button>

      </div>
    </md-toolbar>

</div>