
<div ng-controller="PlayersController" flex layout="column" id="PlayersController">

<md-content flex id="vertical-container">
	<md-list>
		<div ng-repeat="line in Players | filter : FilterText">
			<md-list-item class="md-3-line" layout="row" style="min-height: auto;">
				<div flex layout="row">
					<div flex class="md-list-item-text">
						<h3>{{line.DisplayName}}</h3>
					</div>
				</div>

				<div flex="20"style="text-align: right">
					{{line.SteamID}}	 <span>{{line.OwnerSteamID}}</span>		
				</div>
				
				<div flex="5"style="text-align: right">
					{{line.VoiationLevel}}			
				</div>
								
				<div flex="10"style="text-align: right">
					Level: {{line.CurrentLevel}}			
				</div>
				
				<div flex="10"style="text-align: right">
					XP: {{line.UnspentXp}}			
				</div>
				
				<div flex="20"style="text-align: right">
					{{line.Address}}		
				</div>

				<div flex="10" class="md-list-item-text" style="text-align: right">Ping {{line.Ping}}</div>
				
				<div flex="10" style="text-align: right">
					{{line.ConnectedSeconds | SecondsToDuration}}
				</div>
				
				
			</md-list-item>
		<md-divider></md-divider>
		</div>
		
		
	</md-list>
</md-content>

 <md-toolbar class="Input">
      <div class="md-toolbar-tools">
	  
		<span flex>
			<input ng-model="FilterText" style="width: 100%">
		</span>
		
		<md-button class="md-icon-button" aria-label="Settings" ng-click="SubmitCommand()">
			<md-icon md-menu-origin md-svg-icon="image/arrow-right-bold-hexagon-outline.svg"></md-icon>
        </md-button>

      </div>
    </md-toolbar>

</div>